pip install pytesseract

# visit to tesseract-ocr/ tesseract git hub page
# or go to tesseract-ocr.github.io/tessdoc/Downloads and open Binaries for windows
#after open above link go to 4.x for windows and find "windows installer made with MinGW-w6"
#follow this video "https://www.youtube.com/watch?v=tkVA783l5SA&list=PLpp8-k7G_6Y3Wj1suZQ-9lATFzFuGw93x&index=24"