beautifulsoup4==4.10.0
certifi==2021.5.30
charset-normalizer==2.0.6
comtypes==1.1.10
idna==3.2
Js2Py==0.71
MouseInfo==0.1.3
packaging==21.0
Pillow==8.3.2
pipwin==0.3.5
PyAudio @ file:///C:/Users/alokk/pipwin/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
PyAutoGUI==0.9.53
PyGetWindow==0.0.9
pyjokes==0.6.0
pyjsparser==2.7.1
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.2
pypiwin32==223
PyPrind==2.11.3
PyRect==0.1.4
PyScreeze==0.1.28
pyttsx3==2.90
pytweening==1.0.4
pywhatkit==5.1
pywikipedia==0.0.1
pywin32==301
requests==2.26.0
robobrowser==0.5.3
six==1.16.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
tzdata==2021.2.post0
tzlocal==3.0
urllib3==1.26.7
Werkzeug==0.16.1
wikipedia==1.4.0
